@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', sans-serif;
    position:relative;
}
body {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./img/lasRosasLogo.png')  ;
    background-color: #767876  ;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size:  fixed ;
    background-position: center;
    background:#767876 !important;
    background-color:#767876; */
    background: url('https://mm46.github.io/GranjaLaRosas-Frontend/GranjaLasRosas/img/logInBg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}


.bg-primary {
    background-color: #1a52c6;
}



.logo{
    width: 100%;
    /* height: auto; */

}
label{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: auto;

}
.formStyle{
    border: 0.5px solid transparent;
    border-top: 0.5px solid rgb(233, 233, 233);
    border-bottom: 0.5px solid #F3D11A;
    margin: 60px auto 97px auto;
    padding: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 110%), #F3D11A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 35em;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap   ;
}
/* Clase para los inputs y el link de olvidar contraseña */
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
}
.inputs > *{
    align-self: flex-start;
}
/* Clase de los inputs de usuario y contraseña */
.formInput{
    padding: 10px 10px;
    /* margin-bottom: 20px; */
    font-size: auto;
    border-radius: 0.5em;
    border: 2px solid orange;
    background: white;
    width: 100%;
    height: 50%;
}
.formInput:focus{
    outline-style: inherit;
}
.user-label, .password-label{
    padding:8px 0px;

}
.password-link{
    color:black;
    margin: 10px 0px 0px 0px;
    font-size: auto;
}
.password-link:hover{
    opacity: 0.6;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    height: auto;
}
.button{
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: auto;
}
.button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.login{
    background: rgb(250, 190, 26);
}
.login:hover{
    background: rgb(230, 188, 84);
}
/* .register{
    background: #FFEB85;
} */
/* .register:hover{
    background: rgb(236, 226, 172);
} */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color :#55544F;
    color: white;
    font-weight: bold;
}
