@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    /* margin: 0px;
    padding: 0px; */
    font-family:'Montserrat', sans-serif;
}
  
  
  .logoutButton {
      background-color: #4480E9;
      color: white !important;
      font-weight: bold !important;
      background-color: #4480E9 !important;
  }

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color :#55544F;
    color: white;
    font-weight: bold;
}
  

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    background: white;
    background: url('https://mm46.github.io/GranjaLaRosas-Frontend/Granja%20Las%20Rosas/img/logInBg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.logo{
    height: 30px;
    line-height: 20px;
    float: left;
    font-weight: bold;
}

.navigationBar{
    background-color:rgb(238, 206, 4); 
}

.title-label, .password-label, .name-label, .lastname_1-label, .lastname_2-label, .salary-label, .birth_date-label, .hire_date-label {
    padding:8px 0px;
    font-weight: bold;
}

.formStyle{
    /* border: 0.5px solid transparent; */
    /* border-top: 0.5px solid rgb(233, 233, 233); */
    /* border-bottom: 0.5px solid #F3D11A; */
    margin: 20px auto 97px auto;
    padding: 30px;
    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 110%), #F3D11A; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: white;
    opacity: 90%;
    border-radius: 10px;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap   ;
    /* text-align: center; */
}

.button{
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: auto;
}
.button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.yellow{
    
    background: rgb(250, 190, 26);
    font-weight: bold;
    margin-bottom: 10px;
    /* width: 60%; */
}

.formInput{
    /* padding: 10px 10px; */
    border-radius: 0.5em;
    border: 2px solid orange !important;
    /* text-align: center !important; */
    
}
.formInput:focus{
    outline-style: inherit;
}
 .title-label, .normalLabel, .password-label, .name-label, .lastname_1-label, .lastname_2-label, .salary-label, .birth_date-label, .hire_date-label {
    padding:8px 0px;
    font-weight: bold;
    /* text-align: center !important; */
}

.divisor {
    margin: 0 0 0 0;
    /* padding: 0; */
    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 110%), #F3D11A; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: white;
    opacity: 80%;
    border-radius: 10px;
    top: 0;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap   ;
}